<style type="text/css">
#container {
width: 700px;
}

</style>

</head>

<body>

<div class="row justify-content-md-center" style="margin-top: 30px">

    <div class="col-md-10">

        <div class="jumbotron">
            <h1 class="display-4">Four Zero Four</h1>
            <hr class="my-4">       
        </div>

        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h3 class="display-5">"The Universe is under no obligation to make sense to you."</h3>
            <br>
            <p class="display-6">Neil deGrasse Tyson </p>
        </div>  
    </div>   
</body>


