<style type="text/css">
#container {
width: 700px;
}

</style>

</head>

<body>

<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="display-4">NASA - Project 2</h1>
            <hr class="my-4">       
        </div>
    </div>
</div>

        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><figure class="text-center">
            <blockquote class="blockquote">
                <p style = "font-size: 40px;">"The Universe is under no obligation to make sense to you."</p>
            </blockquote>
            <figcaption style = "font-size: 30px;" class="blockquote-footer">
                Neil deGrasse Tyson<cite title="Source Title"> - Astrophysics; For People In A Hurry,</cite>
            </figcaption>
            </figure>            
        </div>  
    </div>   
</body>


