
<style type="text/css">
#container {
width: 700px;
}
</style>

</head>

<body>

<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-10">

        <div class="jumbotron">
            <h1 class="display-4">Project 2 NASA</h1>
            <p class="lead">Explore the cosmos maaaaan!</p>
            <hr class="my-4">       
        </div>

 <div class="row justify-content-md-center" style="margin-top: 30px">

  <div class="col-md-12">

      <h1 class="display-6">Pic of the day</h1>
      <h2>{{title}}</h2>
      <h4>{{date}}</h4>
      <img src='{{url}}' alt="Galaxy picture">
      <p>{{explanation}}</p>  
        
  </div> 
  
</div>   

  <div class="row justify-content-md-center" style="margin-top: 30px">
      <div class="col-md-5">
        <div class="col">
          <div class="input-group input-group-sm mb-1">
          
        </div>
      </div> 
  </div> 
    
</body>


