<body>

  <div class="row justify-content-md-center" style="margin-top: 30px">
      <div class="col-md-8">

          <div class="jumbotron">
              <h1 class="display-4">NASA - Project 2</h1>
              <p class="lead">Explore the cosmos maaaaan!</p>
              <hr class="my-4">       
          </div>

      </div>
  </div>
  
  <section class = "odd-sect">

  <div class="row justify-content-md-center" style="margin-top: 30px">
      <div class="col-md-10 ">

          <div class="jumbotron">
              <h1 class="display-4">Project 2 NASA</h1>
              <p class="lead">Explore the cosmos maaaaan!</p>
                    
          </div>
      </div>
  </div>

</section>


<section class = "even-sect">

<div class="row justify-content-md-center" style="margin-top: 30px">

  <div class="col-md-10 ">

      <div class = '.start'></div>
      <div class = '.end'></div>

      <a class="btn btn-primary btn-lg active" id = "get-event'">See impending doom!</a>
      
  </div>
</div>

</section>
</body>

