
<style type="text/css">
#container {
width: 700px;
}
</style>

</head>

<body>

  <section class = "odd-sect">

    <div class="row justify-content-md-center" style="margin-top: 30px">
        <div class="col-md-10 ">

            <div class="jumbotron">
                <h1 class="display-4">Project 2 NASA</h1>
                <p class="lead">Explore the cosmos maaaaan!</p>
                <hr class="my-4">       
            </div>

        <article>
          <h1 class="display-6">Pic of the day</h1>
          <h2>{{title}}</h2>
          <h4>{{date}}</h4>
          <img src='{{url}}' alt="Galaxy picture" style = "text-align: center;">
          <p>{{explanation}}</p> 
          <a class="btn btn-primary btn-lg active" id = "savPicDay">Add to Favourites</a>
        </div>    
      </article>

    </div>

  </section>

  <section class = "even-sect">
    <div class="row justify-content-md-center" style="margin-top: 30px">
     
        <div class="col" style = "text-align: center;">

          
          Apolinar short API here?
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
            
        </div> 

        <div class="col" style = "text-align: center;">

          Linda short API?
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
        </div> 
      
    </div>
  </section>

<section class = "odd-sect">
    <div class="row justify-content-md-center" style="margin-top: 30px">
     
        <div class="col" style = "text-align: center;">

          
          Lachlan short API here?
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
            
        </div> 

        <div class="col" style = "text-align: center;">

          Allen short API?
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
        </div> 
      
    </div>
  </section>

<section class = "even-sect">
    <div class="row justify-content-md-center" style="margin-top: 30px">
     
        <div class="col" style = "text-align: center;">

          
          Priya short API here?
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
            
        </div> 

        <div class="col" style = "text-align: center;">

          Damn uneven group numbers!!!!!!!
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
          <br>
          *******************************************
        </div> 
      
    </div>
  </section>

</body>


