.bodyImg{    
    background-image: url("/assets/img/earthpan.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}

.card-body{
    
    background-color: lightgray !important; 
    color: #6B4984
}

.btn-secondary{

    float: right;
    color: pink;
    margin : 1%;
}

.btn-primary{

    margin : 1%;
    background : #6B4984 !important;
    border-color: #070B34 !important;
    color: #070B34 !important; 
    
}

.btn-primary:hover{

    background : #483475 !important; 
    color: white !important; 
}

h1 {
    color : #070B34;
}

.lead {

    color : #141852;
    
}

.odd-sect{

    background-color : whitesmoke;
    color : #070B34 ;
}

.even-sect{

    background-color : lightgray ;
    color: #6B4984;

}
.form-group{
    margin-top: 3%;
}

.btn {
    background-color: #483475;
    margin : 2%;
}

.shimg{
    
    text-align: center;
}


.alert{

    text-align: center;
}


/* START OF CSS STYLE FOR MARS ROVER APPLICATION */

.main-h3 {
    text-align: center;
}

#camera-name, #zero-img, #zero-camera-img, #rover-name {
    text-align: center;
}

#rover-name {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

#capture-date {
    text-align: center;
}


#date-warning {
    color: blue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*END OF CSS STYLES FOR MARS ROVER APPLICATION*/

