.body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 250px; 
    box-sizing: border-box;
  }

.card-body{
    
    background-color: #483475 !important; 
    color: whitesmoke;
}

.btn-secondary{

    float: right;
    color: pink;
    margin : 1%;
}

.btn-primary{

    margin : 1%;
    background : #6B4984 !important;
    border-color: #070B34 !important;
    color: #070B34 !important; 
    
}

.btn-primary:hover{

    background : #483475 !important; 
    color: white !important; 
}

h1 {
    color : #070B34;
}

.lead {

    color : #141852;
    
}

.odd-sect{

    background-color : #6B4984;
    color : #070B34 ;
}

.even-sect{

    background-color : #070B34 ;
    color: #6B4984;

}
.form-group{
    margin-top: 3%;
}

.btn {
    background-color: #483475;
    margin : 2%;
}

.footer-1{

    position: absolute;
    min-width: 100vw;
    bottom: 0;
    height: 250px;
    background-color:#483475;
}

.footer-1 h5{

    margin-top: 3%;


}
.shimg{
    min-width: 80% !important; 
    min-height: 80% !important;
}

.alert{

    text-align: center;
}
